*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #252525;
}

header{
    background-color: #ececec;
    padding: 20px;
    text-align: center;
}

main{
    padding: 20px;
    background-color: #a74d4d;
}

footer{
    background-color: rgb(23, 29, 87);
    padding: 20px;
    text-align: center;
}

/* Media Query */
/* 0px-600px "xs-s" mobil cihazlar */
@media screen and (max-width:600px) {  
    main{
        background-color: yellow;
    }
    
}

/* 601px-1024px "m" tablet */
@media screen and (min-width:601px) and (max-width:1024px) {  
    main{
        background-color: aqua;
    }
}

/* 601px-1024px "L-XL" masaüstü */
@media screen and (min-width: 1025px) { 
    main{
        background-color: #a74d4d;
    }
    main:hover{
        box-shadow: 1px 5px 10px black;
    }
}

